
/*改写默认的ui样式*/

/* layout */
.page-header {
    border-bottom: 1px solid #DDD;
    margin: 20px 0 10px;
    padding-bottom: 2px;
}

.panel-title {
    color: inherit;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
}

.panel-body {
    /*padding: 0px;*/
}

.tabs-panels .panel .panel-body{padding:0;}

/*  form */
.textbox{width:100%; height:28px;}

.textbox {
    background-color: #fff;
    border: 1px solid #95b8e7;
    border-radius: 5px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;width:100%; height:28px;
}

.btn {
	-moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 3px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	
}

/* my style */

.form table td{padding:3px 0;}

.myFormTable {}
.myFormTable tr td:first-child{height:32px;width:26%;text-align: right;font-weight:bold;padding-right:8px;}
.myFormTable input{text-align:left;}
.myFormTable label{}

legend{text-align: left;}

.table thead,
.list_head{
    font-weight:bold;
    background:#FFF2F8;
}

/*form class="form-inline"*/
.form-inline{}

.my-form-group{width:48%;}

.my-form-group label{width:108px;text-align:right;text-indent:1em;}

.my-form-group input{width:78%;}

.my-form-group-row{padding:6px 0px;}

.my-form-row{margin:6px 3px; width:100%;}

.my-form-row span{}

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
    border-top: 0 none;
}
.table > thead > tr > th {
    border-bottom: 2px solid #ddd; background:#F0F2F8;
    vertical-align: bottom;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}

.pull-div{
    margin:0;
    display: inline;
	width:100%;
    background: #f0f;
    clear: both;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1600;
}
